APP_NAME=Statathon_PS4_MoSPI_Engine
APP_ENV=development
PORT=8000
DATABASE_URL=sqlite:///./statathon.db
UPLOAD_DIR=../data/uploads
PROCESSED_DIR=../data/processed
REPORTS_DIR=../reports
OPENAI_API_KEY=optional_key_here